@import './_broen-variables.scss';

.loading {
  overflow-y: hidden;
}

.broen-loader {
  display: none;
  z-index: 101;
  text-align: center;
  background-color: $loader-bg;
}

.loading > .broen-loader {
  display: block;
  opacity: $loader-opacity-visible;
  -moz-transition: opacity $loader-opacity-transition-time $loader-opacity-transition-effect;
  -webkit-transition: opacity $loader-opacity-transition-time $loader-opacity-transition-effect;
  transition: opacity $loader-opacity-transition-time $loader-opacity-transition-effect;
}

.loading-fade > .broen-loader {
  opacity: $loader-opacity-hidden;
}

.broen-loader-text {
  font-size: 2.5em;
  margin-top: 20%;
  padding-top: $header-height;
}

.broen-loader-icon {
  font-size: 1.0em;
}
