$base-text-color: #222;
$light-text-color: #fefefe;

// Blues
$blue: #70b0f0;
$light-blue: #87bbe1;
$light-blue-lighter: #b9dcf5;
$light-blue-lighter-2x: #dae9fb;
$dark-blue: #2b3642;
$dark-blue-lighter: #303b49;
$border-light: #bbcde3;
$border-dark: #555;

$red: #f14444;
$transparent-white: rgba(255,255,255,0.7);

// Sidebar
$sidebar-open-width: 225px;
$sidebar-closed-width: 56px;

// Header
$header-height: 50px;
