@import './_broen-variables.scss';

.broen-container {
  height: 100%;
}

.broen-body {
  position: relative;
  height: 100%;
  background-color: $broen-body-bg;
}

.broen-page {
  min-height: 100%;
  background-color: $broen-page-bg;
  box-sizing: border-box;
  overflow-x: auto;
  margin-left: $sidebar-open-width;
  padding-top: 10px;
  border-left: 1px solid $broen-page-border-color;
}

.nav-collapsed+.broen-page {
  margin-left: $sidebar-closed-width;
}

/* Mobile look */
@media (max-width: 767px) {
  .broen-page,
  .nav-collapsed+.broen-page {
    margin-left: 0;
  }
}
