@import './_broen-variables.scss';

// reset header text margin/padding
.broen-header {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
}

.broen-header {
  position: static;;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: $header-height;
  max-height: $header-height;
  color: $header-text-color;
  background-color: $header-bg;
  border-bottom: 1px solid $header-border-color;
  margin: 0;
  padding: 5px 0;
}

.broen-logo {
  font-size: 2em;
  font-weight: 200;
  max-height: $header-height;
  overflow: hidden;
}

.broen-logo-icon {
  color: $header-logo-icon-color;
}

.logo-text {
  color: $header-text-emphasis-color;
}

.broen-headermenu-custom {
  line-height: 40px;
  font-size: 1.1em;
}

.broen-headermenu-toggle {
  margin: 0;
  padding: 8px;
  cursor: pointer;
  color: $header-mobile-nav-toggle-color;
}


@media (max-width: 767px) {
  .broen-headermenu-text {
    padding-right: 10px;
  }
}
